<div class="content-container full-window-height">
  <div class="content content--bg">
    <h1 id="fullname" class="fullname">Brandon Teng</h1>
    <div>
      <ul class="content-list flex-column">
        <a href="https://github.com/{{ site.username }}" target="_blank" class="content-list--item">
          <li>Charismatic coder at Github</li>
        </a>
        <a href="https://medium.com/@{{ site.username }}" target="_blank" class="content-list--item">
          <li>Wandering writer at Medium</li>
        </a>
        <a href="https://www.linkedin.com/in/brandon-teng-4568a252" target="_blank" class="content-list--item">
          <li>Nervous networker at LinkedIn</li>
        </a>
        <a href="https://twitter.com/{{ site.username }}" target="_blank" class="content-list--item">
          <li>Tenacious tweeter at Twitter</li>
        </a>
      </ul>
    </div>
  </div>
</div>
