<div class="flex-justify-center full-window-height">
  <div class="container container--bg content">
    <h1 id="fullname" class="fullname">Brandon Teng</h1>
    <div>
      <ul class="content-list flex-column">
        <a href="https://github.com/{{ site.username }}" target="_blank" class="content-list--item">
          <li>Curious coder on Github</li>
        </a>
        <a href="https://medium.com/@{{ site.username }}" target="_blank" class="content-list--item">
          <li>Whimsical writer on Medium</li>
        </a>
        <a href="https://www.linkedin.com/in/brandon-teng-4568a252" target="_blank" class="content-list--item">
          <li>Nervous networker on LinkedIn</li>
        </a>
        <a href="https://twitter.com/{{ site.username }}" target="_blank" class="content-list--item">
          <li>Terrible tweeter on Twitter</li>
        </a>
        <a href="{{ site.baseurl }}/experience/" class="content-list--item">
          <li>My resume</li>
        </a>
      </ul>
    </div>
  </div>
</div>
<script src="../main.js"></script>

