<h2 id="hacking-on" class="section-heading">What I'm Hacking On</h2>
<div class="current-work">
  <article>
    <a href="https://en.wikipedia.org/wiki/MEAN_(software_bundle)" target="_blank"><img src="../images/mean_stack.png"/></a>
    <h3>MEAN Stack</h3>
    <p>
      A popular fullstack Javascript methodology that is used to construct robust web sites and dynamic web applications. It has gained much momentum as it takes advantage of the collection of powerful technologies (Mongo, Express, Angular, and Node).
    </p>
  </article>
  <article>
    <a href="https://facebook.github.io/react-native/" target="_blank"><img src="../images/react_js.png"/></a>
    <h3>React Native</h3>
    <p>
      Facebook's open-sourced framework used in bridging the gap between mobile development and traditional web development. React Native enables the developer to build seamless applications on native platforms by using experience based on Javascript and the React framework.
    </p>
  </article>
  <article>
    <a href="http://www.go.cd/" target="_blank"><img src="../images/go_cd.png"/></a>
    <h3>Go Continuous Delivery</h3>
    <p>
      A product introduced by ThoughtWorks Studios, Go is a continuous delivery tool that helps create and manage automated deployment pipelines and supports the process of building, testing, and releasing reliable code.
    </p>
  </article>
</div>
