<div class="flex-justify-center">
  <div class="container container--bg experience">
    {% include experience-header.html %}
    <section class="experience-section">
      <p class="experience-title">Software Engineer</p>
      <p class="opacity-detail">San Francisco, California</p>
      <p class="opacity-detail">
      The further I dive into software, the more passionate I become towards seeking quality. It's really important to have open communication, dependable environments, trusted tests, and a cohesive process everyone understands to create high-quality software. A great developer's responsibility does not stop at the commit. It begins and ends with improving existing processes and infrastructure by discovering solutions for our most pressing problems.
      </p>
    </section>
    <section class="experience-section">
      <h2 class="section-header opacity-detail">Work Experience</h2>
      <ul>
        <li class="experience-list--item">
          <a href="https://www.thoughtworks.com/" target="_blank" class="flex-row company-link">
            <h3 class="experience-title">ThoughtWorks, Inc.</h3>
            <span class="icon link-arrow-icon"></span>
          </a>
          <div class="opacity-detail">
            <span>Software Engineering</span>
            <span>|</span>
            <span>May, 2014 — Current</span>
          </div>
          <p>
          We deliver custom software applications to clients aiming to revolutionize their IT infrastructure. We drive quality solutions by embodying Agile methodologies, collaboration techniques, and clean code architecture to iterate rapidly with customer-driven responsiveness.
          </p>
        </li>
        <li class="experience-list--item">
          <a href="https://www.taskrabbit.com/" target="_blank" class="flex-row company-link">
            <h3 class="experience-title">TaskRabbit</h3>
            <span class="icon link-arrow-icon"></span>
          </a>
          <div class="opacity-detail">
            <span>Tasker - Freelance Web Design & Developer</span>
            <span>|</span>
            <span>Jan, 2016 — Current</span>
          </div>
          <p>
          High quality technical service to local community in San Francisco. Primarily responsible for the design, layout and development of websites. Providing ongoing maintenance and support.
          </p>
        </li>
      </ul>
    </section>
    <section class="experience-section">
      <h2 class="section-header opacity-detail">Education</h2>
      <ul>
        <li class="experience-list--item">
          <a href="http://trydesignlab.com/" target="_blank" class="flex-row company-link">
            <h3 class="experience-title">DesignLab</h3>
            <span class="link-arrow-icon icon"></span>
          </a>
          <div class="opacity-detail">
            <span>Design 101- UI/UX</span>
            <span>|</span>
            <span>Dec, 2015 — Feb, 2016</span>
          </div>
          <p>
          Learning the core techniques of interaction design, the process of building digital products based on the research, learning concepts like usability, user flows, information architecture, and wireframing. Practicing how to translate graphic design expertise into digital realm. Also studying fundamentals about color theory, typography and layout in web design
          </p>
        </li>
        <li class="experience-list--item">
          <div class="flex-row">
            <h3 class="experience-title">University of Southern California</h3>
          </div>
          <div class="opacity-detail">
            <span>Bachelor of Science - Chemical Engineering</span>
            <span>|</span>
            <span>Aug, 2011 — May, 2014</span>
          </div>
        </li>
      </ul>
    </section>
    <section class="experience-section">
      <h2 class="section-header opacity-detail">Projects</h2>
      <ul>
        <li class="experience-list--item">
          <a href="https://www.freecodecamp.com/" target="_blank" class="flex-row company-link">
            <h3 class="experience-title">FreeCodeCamp</h3>
            <span class="icon link-arrow-icon"></span>
          </a>
          <div class="opacity-detail">
            <span>Developer</span>
            <span>|</span>
            <span>Jan, 2016 — Current</span>
          </div>
          <p>
          A friendly open-source community that provides a browser-based curriculum for learning Javascript and a way to support non-profit organizations through code contribution. We're working to build a platform that will foster not only technical-trained candidates but also empathetic coders with a strong portfolio of work.
          </p>
        </li>
      </ul>
    </section>
    <section class="experience-section">
      <h2 class="section-header opacity-detail">Skills</h2>
      <ul class="box-list">
        <li>JavaScript</li>
        <li>HTML</li>
        <li>CSS/SASS/OOCSS</li>
        <li>Agile Methodologies</li>
        <li>Test Driven Development</li>
        <li>Continuous Integration</li>
        <li>UI/UX Design</li>
        <li>Java & Spring MVC</li>
        <li>Ruby on Rails</li>
      </ul>
    </section>
  </div>
</div>
