<div>
  <header class="flex-row header-nav">
    <span>
      <h1>Brandon's Experience</h1>
    </span>
    <div class="flex-row">
   <!--    <div class="flex-column nav-item-container">
        <div class="contact-icon icon"></div>
        <span>Contact</span>
      </div>
      <div class="flex-column nav-item-container">
        <div class="share-icon icon"></div>
        <span>Share</span>
      </div> -->
      <a href="{{ site.baseurl }}/" class="flex-column nav-item-container">
        <div class="back-arrow-icon icon"></div>
        <span>Back</span>
      </a>
    </div>
  </header>
</div>