<footer class="site-footer">

  <div class="wrapper">

    <a title="Facebook" href="https://facebook.com/{{ site.facebook_username }}">
      <span class="icon icon--facebook hvr-pulse">
      </span>
    </a>
    <a title="Github" href="https://github.com/{{ site.github_username }}">
      <span class="icon icon--github hvr-pulse">
      </span>
    </a>
    <a title="Twitter" href="https://twitter.com/{{ site.twitter_username }}">
      <span class="icon icon--twitter hvr-pulse">
      </span>
    </a>
    <a title="Stackoverflow" href="http://stackoverflow.com/users/3282316/{{ site.stackoverflow_username }}">
      <span class="icon icon--stackoverflow hvr-pulse">
      </span>
    </a>

    <p>
      © 2015 Brandon Teng. All rights reserved.
    </p>

  </div>

</footer>
