<footer class="site-footer">
  <span>Come hang out with me!</span>
  <section>
    <a title="Facebook" href="https://facebook.com/{{ site.username }}">
      <span class="icon icon--facebook hvr-pulse">
      </span>
    </a>
    <a title="Github" href="https://github.com/{{ site.username }}">
      <span class="icon icon--github hvr-pulse">
      </span>
    </a>
    <a title="Twitter" href="https://twitter.com/{{ site.username }}">
      <span class="icon icon--twitter hvr-pulse">
      </span>
    </a>
    <a title="Stackoverflow" href="http://stackoverflow.com/users/3282316/{{ site.username }}">
      <span class="icon icon--stackoverflow hvr-pulse">
      </span>
    </a>
  </section>

  <p>
    © 2015 Brandon Teng. All rights reserved.
  </p>
</footer>
