<h2 id="weekly-discovery" class="section-heading">Discovery of the Week</h2>
<p>
  With the explosion of the sharing economy, there's no telling what industry could be disrupted with the leveraging of technology and software. Empowering autonomy in self-motivated individuals seems to be gaining ground all over the world as we see companies like Uber, Airbnb, and Instacart enable people to share what they already own to the world. These technologies are helping to build this sense of microentrepreneurship within global communities and gives opportunities that were once intangible.
</p>
<img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQOMWQdirdEijk-DIULX5hAoobxqusEveV4teKwGSkul9StSMsA1Q">
<p>
  From outsourcing solar energy to renting out your yacht, there is no shortage of ideas. This week I discovered <a href="http://www.triip.me" target="_blank">Triip</a>. A Vietnam-based startup that empowers locals to turn into an amateur tour guide overnight. It gives tools to create tourism packages that can be sold to tourists. Check it out in the link above and in this article on <a href="http://www.wsj.com/articles/ha-lams-long-strange-trip-to-startup-success-1436354405" target="_blank">Wall Street Journal!</a>
</p>
