<h2 id="welcome" class="section-heading">Hello World</h2>
<p>
  It seems you’ve stumbled upon the peripheral corners of this vast cosmic void.  Most people refer to it as the Internet, the World Wide Web, the information highway, but to me, it's simply a bridge for my voice, my ideas, and my experience. As such, I felt I should introduce myself to you in an appropriate way....
</p>
<code>
  <span>GET: http://bteng22.me/</span>
  <span>STATUS: 200 OK, TIME: 17 ms</span>
  <span>
    var Response = {
      <span>name: "Brandon Teng",</span>
      <span>originCity: "Chicago",</span>
      <span>currentlyResiding: "San Francisco"</span>
      <span>occupation: "Software Engineer"</span>
      <span>almaMater: "University of Southern California"</span>
      <span>passions: ["Dance", "Code", "Creativity", "Philanthropy"]}</span>
  </span>
</code>
<p>
  All jokes aside, I am currently a Consultant/Application Developer of ThoughtWorks, Inc., a proud alumnus of the University of Southern California (Fight on Trojans!), and a motivated Chicagoan making his way from the urban outskirts of Rogers Park. As a self-taught technology enthusiast, I hope to connect with individuals who hope to make a dent in this world in order to help others. With a relatively short journey in software development, I am walking the long road of understanding a complex and turbulent world of programming. It’s been one helluva ride but I love it and I really hope to share this passion with the rest of the world to inspire others to follow their dreams no matter the adversity... ADVENTURE IS OUT THERE!
</p>
