<h2 id="welcome" class="section-heading">Welcome</h2>
<p>
  “Hello World!" It seems you’ve stumbled upon a dark corner in this vast cosmic void which we call the Internet. As a fellow web traverser it only seems appropriate that I introduce myself to you in an appropriate fashion…
</p>
<p>
  Sending Person Response… etc. var Person = { name: "Brandon Teng", homeCity: "Chicago" currentlyResiding: “San Francisco", occupation: "Consultant//SoftwareEngineer”, favoriteFood: “Vietnamese Beef Noodle Soup (Pho)”, }
</p>
<p>
  Haha all nerdery aside, I am currently a proud Consultant / Application Developer of ThoughtWorks, Inc. Graduated from the University of Southern California (Fight on Trojans :D) with a BS in Chemical Engineering, I am a self-motivated and self-taught technology enthusiast, who hopes to one day build a tool that could help those in need. With a relatively short journey in software development, I am walking the long road of understanding a complex and turbulent world of programming. It’s been one helluva ride (think Rainbow Road in Mario Kart) but I love it and I really hope to share this passion with the rest of the world to inspire others to follow their dreams no matter the adversity or how cliche it might possibly sound. ADVENTURE IS OUT THERE!
</p>
