/***
SITEWIDE
***/

body, html {
  min-height: 100%;
  overflow: auto;
}

html {
  background: url(../images/wallpaper.jpg) no-repeat center center fixed;
  background-size: cover;
  transition: background-position-x 0.3s;
}

/***
CONTENT
***/

.main-container {

}

.content {
  max-width: 225px;
}

.content-list {
  list-style-type: none;
}

.content-list a {
  color: #FFF;
  -webkit-transition: .40s all ease;
  transition: .40s all ease;
}

.content-list a:hover {
  color: $trojan-gold;
  -webkit-transition: .40s all ease;
  transition: .40s all ease;
}

.content-list--item {
  margin: 5px 0;
  font-size: 14px;
  text-align: center;
  text-transform: lowercase;
  letter-spacing: 1px;
}

.fullname {
  font-family: $header-font;
  font-size: 28px;
  text-align: center;
  text-transform: uppercase;
}

/***
EXPERIENCE
***/

.experience {
  max-width: 600px;
  height: 100%;
  margin: 20px;
}

.header-nav {
  justify-content: space-between;
}

.nav-item-container {
  opacity: 0.75;
  cursor: pointer;
  align-items: center;
  margin: 5px 1em;
  -webkit-transition: .30s all ease;
  transition: .30s all ease;
}

.nav-item-container:hover {
  opacity: 1;
  color: $trojan-gold;
  -webkit-transition: .30s all ease;
  transition: .30s all ease;
  > .contact-icon, .share-icon, .back-arrow-icon {
    background-color: $trojan-gold;
  }
}

.icon {
  width: 25px;
  height: 25px;
}

.contact-icon.icon {
  display: inline-block;
  -webkit-mask: url(../images/contact.svg) no-repeat 50% 50%;
  mask: url(../images/contact.svg) no-repeat 50% 50%;
  -webkit-mask-size: cover;
  mask-size: cover;
}

.contact-icon {
  background-color: #FFF;
}

.share-icon.icon {
  display: inline-block;
  -webkit-mask: url(../images/share.svg) no-repeat 50% 50%;
  mask: url(../images/share.svg) no-repeat 50% 50%;
  -webkit-mask-size: cover;
  mask-size: cover;
}

.share-icon {
  background-color: #FFF;
}

.link-arrow-icon.icon{
  width: 13px;
  height: 13px;
  display: inline-block;
  -webkit-mask: url(../images/link-arrow.svg) no-repeat 50% 50%;
  mask: url(../images/link-arrow.svg) no-repeat 50% 50%;
  -webkit-mask-size: cover;
  mask-size: cover;
}

.link-arrow-icon {
  background-color: $trojan-gold;
}

.back-arrow-icon.icon{
  display: inline-block;
  -webkit-mask: url(../images/back-arrow.svg) no-repeat 50% 50%;
  mask: url(../images/back-arrow.svg) no-repeat 50% 50%;
  -webkit-mask-size: cover;
  mask-size: cover;
}

.back-arrow-icon {
  background-color: #FFF;;
}

.experience-section {
  p {
    margin-bottom: 5px;
  }

  > ul {
    list-style-type: none;
  }
}

.experience-title {
  font-size: 1.2em;
  margin: 1em 0;
}

.section-header {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.9em;
  margin: 4em 0 1em 0;
}

.experience-list--item {
  a {
    color: inherit;
    text-decoration: none;
  }
}

.opacity-detail{
  opacity: 0.75;
}

.company-link {
  align-items: baseline;
}

.company-link > * {
  margin-right: 5px;
}

.box-list {
  display: flex;
  flex-wrap: wrap;
  li {
    list-style-type: none;
    background-color: seagreen;
    padding: 10px;
    margin-right: 5px;
    margin-top: 5px;
    border-radius: 5px;
  }
}

/***
FOOTER
***/

.footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}

.opacity-transo div {
  opacity: 0.5;
  color: #FFF;
  -webkit-transition: .40s all ease;
  transition: .40s all ease;
}

.opacity-transo div:hover{
  color: #FFF;
  opacity: 1.0;
  -webkit-transition: .40s all ease;
  transition: .40s all ease;
}

.pc-container {
  margin: 1em;
}

.pc-font {
  font-size: 10px;
}

/***
REUSABLE
***/

.container {
  width: 100%;
  color: white;
  align-self: center;
  margin-left: 45%;
  border-radius: 10px 10px 75px;
  padding: 1em;
}

.container--bg {
  background-color: #20161e;
  opacity: 0.8;
}

.small-width {
  max-width: 90px;
}

.flex-justify-center {
  display: flex;
  justify-content: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.full-window-height {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

/***
CSS Animations
***/

.fullname:before {
  content: "";
  position: absolute;
  width: 220px;
  height: 2px;
  background-color: $trojan-gold;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: .60s all ease;
  transition: .60s all ease;
}

.overline.fullname:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/***
MEDIA QUERIES
***/


@include media-query($on-palm) {
  html {
    background-position-x: 40%;
  }

  .container {
    margin: 1em;
    border-radius: 10px;
  }

  .footer {
    position: initial;
  }
}
